/* Règles de base */
body {
    margin: 0;
    overflow: hidden; /* Empêche le défilement */
    background-color: #f0f0f0; /* Couleur de fond initiale */
}

.container {
    position: relative;
    width: 100vw;
    height: 900px; /* Hauteur fixe de la div */
    transition: background-color 0.5s ease; /* Transition pour changement de couleur */
    overflow: hidden; /* Assure que les lettres restent à l'intérieur */
}

/* Lettres flottantes */
.letter {
    position: absolute;
    will-change: transform; /* Optimise les performances */
    opacity: 0.85;
    transition: transform 1s ease, border 0.5s ease; /* Transition lisse pour le déplacement et la bordure */
    /* border: 2px solid #000;  */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions de l'élément */
}

.center-letters {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    height: 100vh;           /* Assurez-vous que le conteneur a une hauteur définie */
    width: 100vw;            /* Assurez-vous que le conteneur a une largeur définie */
}

.center-letters .letter {
    transition: transform 1s ease;
}