body {
    margin: 0;
    overflow-y: auto; /* Permet le défilement vertical */
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100vw;
    height: 900px; /* Hauteur fixe de la div */
    transition: background-color 0.5s ease; /* Transition pour changement de couleur */
    overflow: hidden; /* Assure que les lettres restent à l'intérieur */
}

/* Lettres flottantes */
.letter {
    position: absolute;
    will-change: transform; /* Optimise les performances */
    opacity: 0.85;
    transition: transform 1s ease, border 0.5s ease; /* Transition lisse pour le déplacement et la bordure */
    /* border: 2px solid #000;  */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions de l'élément */
}

.center-letters {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    height: 100vh;           /* Assurez-vous que le conteneur a une hauteur définie */
    width: 100vw;            /* Assurez-vous que le conteneur a une largeur définie */
}

.center-letters .letter {
    transition: transform 1s ease;
}

/* Styles pour centrer la vidéo et l'étendre sur toute la largeur */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* La vidéo prendra toute la largeur de la fenêtre */
    height: auto;
    margin-top: 20px; /* Optionnel, pour ajouter un peu d'espace au-dessus de la vidéo */
}

.video-container video {
    width: 100%; /* La vidéo s'étendra sur toute la largeur disponible */
    max-width: 100%; /* S'assure que la vidéo ne dépasse pas la largeur de la fenêtre */
    height: auto; /* Préserve le ratio d'aspect de la vidéo */
    display: block; /* Enlève les marges par défaut du navigateur */
}


.aldrich-bold {
    font-family: 'Aldrich', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.texte-ajoute {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.6;
}

.texte-ajoute p {
    margin-bottom: 1em;
}